@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Damion&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Damion&family=Merienda:wght@300..900&family=Style+Script&display=swap');
@import "tailwindcss";

@font-face {
    font-family:bidena; ;
    src: url("../src/assets/fonts/Bidenatrial.ttf");
}

@font-face {
    font-family: basker;
    src: url("../src/assets/fonts/Baskervville-Regular.ttf");
}
@font-face {
    font-family: weds;
    src: url("../src/assets/fonts/Wedding-Accesories.ttf");
}
@font-face {
    font-family: nav;
    src: url("../src/assets/fonts/Awesome.ttf");
}

@font-face {
    font-family: foot;
    src: url("../src/assets/fonts/Milker.otf");
}
@font-face {
    font-family: title;
    src: url("../src/assets/fonts/Hasly.otf");
}
@font-face {
    font-family: font ;
    src: url("../src/assets/fonts/Footlight.ttf");
}




@theme {
  --font-family: "Covered By Your Grace", cursive;
  --font-heading:"Style Script", cursive; 
  --font-head:bidena;
  --font-para:basker;
  --font-date:weds;
  --font-nav:nav;
  --font-foot:foot;
  --font-title:title;
  --font-font:font;
}

